name: "Shlink URL Shortener"
description: "Shlink - Self-hosted URL shortener with analytics"
version: "1.0.0"
slug: "shlink"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
ports:
  8080/tcp: 8080
ports_description:
  8080/tcp: "Shlink Web Interface & API"
options:
  default_domain: "shlink.local"
  is_https_enabled: false
  geolite_license_key: ""
  initial_api_key: ""
  db_driver: "sqlite"
  db_name: "shlink"
  db_user: ""
  db_password: ""
  db_host: ""
  db_port: null
  redis_servers: ""
  timezone: "Europe/Berlin"
schema:
  default_domain: str
  is_https_enabled: bool
  geolite_license_key: str?
  initial_api_key: str?
  db_driver: list(sqlite|mysql|maria|postgres|mssql)
  db_name: str
  db_user: str?
  db_password: password?
  db_host: str?
  db_port: port?
  redis_servers: str?
  timezone: str
