name: "Shlink"
version: "1.0.0"
slug: "shlink"
description: "Ein selbst gehosteter URL-Shortener."
url: "https://shlink.io"
arch:
  - aarch64
  - amd64
startup: application
boot: auto
ports:
  8080/tcp: 8080
map:
  - config:rw
options:
  default_domain: "deine-domain.de"
  is_https: true
schema:
  default_domain: str
  is_https: bool
