name: "Shlink URL Shortener (SQLite)"
version: "1.1.0" # Version erhöht
slug: "shlink"
description: "Ein selbst gehosteter URL-Shortener auf Basis von Shlink mit SQLite-Datenbank."
url: "https://shlink.io"
arch:
  - aarch64
  - amd64
startup: application
boot: auto
host_network: true
ports:
  8080/tcp: 8080
map:
  - config:rw

# NEUE Felder für Trusted Hosts und optionalen Initial API Key
options:
  default_domain: "deine-kurz-url.de"
  is_https: true
  geolite_license_key: ""
  trusted_hosts: "http://192.168.178.108:8081" # Hier muss die Adresse des Web Clients rein
  initial_api_key: ""
schema:
  default_domain: str
  is_https: bool
  geolite_license_key: str?
  trusted_hosts: str?
  initial_api_key: password?
