{
  "name": "Shlink Server",
  "slug": "shlink",
  "version": "1.0.0",
  "description": "Self-hosted URL shortener",
  "arch": ["amd64", "aarch64"],
  "startup": "services",
  "boot": "auto",
  "ingress": false,
  "ports": {
    "8080/tcp": 8080
  },
  "map": ["data:rw"],
  "options": {
    "DEFAULT_DOMAIN": "go.local",
    "IS_HTTPS_ENABLED": true,
    "INITIAL_API_KEY": "changeme",
    "DB_DRIVER": "sqlite",
    "DB_NAME": "/data/shlink.db"
  },
  "schema": {
    "DEFAULT_DOMAIN": "str",
    "IS_HTTPS_ENABLED": "bool",
    "INITIAL_API_KEY": "str",
    "DB_DRIVER": "str",
    "DB_NAME": "str"
  }
}

